/* ===== LAYOUT STYLES =====*/
html{
	width: auto;
}
body{
	font-family: 'Amiri', serif;
	background-color: #27379C;
	margin: 0;
    padding: 0;
    font-size: 30px;
}

header{
	width:100%;
}
header img{
	width:200px;
	height:200px;
	float:left;
	padding:0 25px 0 0;
}

/* ===== NAVIGATION STYLES ===== */

.top-bar{
	background-color: #F2F14C;	
}
.top-bar-section{
	overflow:hidden;
}

.top-bar-section .left a{
	float: left;
	color: #0C1862;
	background-color: #18AC39;
	text-align:center;
	margin: 57.5px 5px 57.5px 5px;
	padding: 30px 25px 30px 25px;
	border-radius: 35px;
	text-decoration: none;
	font-size: 25px;
	
}
/* Change the color of links on hover */
.top-bar-section .left a:hover {
	color: #0A8A26;
	background-color: #FFFE78;
	margin: 60px 10px 60px 10px;
	padding:25px 30px 25px 30px;
	border-radius: 50px;
	font-size:30px;
	box-shadow: 4px 5px 4px #4351A6;
}

/* Add a color to the active/current link */
.top-bar-section .left a.active {
	color: #5FCB77;
	background-color:#FFFE78;
}
.top-bar-section .right a{
	float: right;
	color: #0C1862;
	text-align:center;
	margin: 90px 10px 90px 10px;
	padding: 0px;
	text-decoration: none;
	height: 20px;
}
/* Change the color of links on hover */
.top-bar-section .right a:hover {
	color: #6571BC;
}

/* =====CONTENT STYLES =====*/
#slider {
	position: relative;
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#slider ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
#slider ul li {
	position: relative;
	height: 100%;
	float: left;
}
#slider ul li img{
	width: 100%;
	height: 700px;
}
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

/* ===== CONTENT WITH "ABOUT"  ===== */
#content-wrapper{
	width:100;
	margin:auto;
}
.row2{
	width:60%;
	height:500px;
	float: left;
	background-color: #18AC39;
	color: white;
}
.row2 .about-section{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family:'Crimson Text', serif;
}
.row2 .about-section h2{
	font-size: 1.5em;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 15px;
}
.row2 .about-section p{
	font-size: 1em;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	font-style: italic;
}
.row2 .about-section button{
	width: 70%;
	height: 60px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
	margin-bottom: 10px;
	background-color: #F2F14C;
	color:#0C1862;
	border-radius: 30px;
	border-style: none;
	font-family:'Crimson Text', serif;
	font-size: 1em;
}
.row2 .about-section button:hover{
	background-color: #FFFE78;
    color: #0A8A26;
    width: 75%;
    height: 70px;
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 0px;
    font-size:1.2em;
    border-radius: 50px;
	box-shadow: 4px 4px 5px #0C1862;
}
.row3{
	width:40%;
	float:left;
	
}
.row3 img{
	width:100%;
	height: 500px;
}

/* ===== FOOTER STYLES =====*/
#footer-wrapper{
	background-color: #F2F14C;
}
.row{
	padding: 20px;
	width: 100%;
	text-align: center;
	margin-top:50px;
	font-size: 0.9em;
}
.social-links {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.social-links a{ 
	float: right;
	color: #0C1862;
	padding:15px;
	text-decoration: none;
	height: 20px;
}
.footer-notes{
	text-align: center;
	padding: 20px;
	width: 100%;
	font-size: 0.7em;
	color:white;
	background-color:#5FCB77;
}
/* ===== STATE STYLES ===== */
