/* ===== LAYOUT STYLES =====*/
html{
	width: auto;
	font-family: 'Amiri', serif;
	background-color: #27379C;
	margin: 0;
    padding: 0;
    
}
body{
	font-size: 30px;
	max-width: 960px;
}



/* ===== NAVIGATION STYLES ===== */


.topnav {
	overflow: hidden;
	background-color: #F2F14C;
	margin: 20px 0;

}
.topnav .logo{
	margin: 0;
}
.topnav img{
	width: 150px;
	height:150px;
	float:left;
	display: block;
	margin-right: 55px;
}

.topnav a {
  	float: left;
  	display: block;
	color: #0C1862;
 	text-align: center;
 	margin: 45px 0px;
 	padding: 15px 20px;
 	text-decoration: none;
 	font-size: 20px;
}

.topnav a:hover {
  	color: #0A8A26;
	background-color: #FFFE78;
	border-radius: 25px;
	font-size:23px;
	box-shadow: 1px 2px 1px #4351A6;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

.topnav .icon {
	display: none;
}



/* =====CONTENT STYLES =====*/
#slider {
	display:block;
	position: relative;
	width: 100%;
	height: 700px;
	overflow: hidden;
}
#slider ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
#slider ul li {
	position: relative;
	height: 100%;
	float: left;
}
#slider ul li img{
	width: 100%;
	height: 700px;
}
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

/* ===== CONTENT WITH "ABOUT"  ===== */
.image-container{
	width: 100%;
	position:relative;
	display: inline-block;
}
.image-container img{
	display:block;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
.image-container .centered{
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;        
	text-align: center;
	top: 5%; /* Adjust this value to move the positioned div up and down */
	color: #0C1862;
	width: 60%; /* Set the width of the positioned div */
}
.image-container .centered h1{
	font-size: 45px;
	padding: 5px;
}
.image-container .centered button{
	background-color: #F2F14C;
	color:#0C1862;
	border-radius: 30px;
	border-style: none;
	font-family:'Crimson Text', serif;
	font-size: 1em;
	height: 40px;
}
.image-container .centered button:hover{
	background-color: #FFFE78;
    color: #0A8A26;
	font-size:1.2em;
    border-radius: 50px;
	box-shadow: 4px 4px 5px #0C1862;
	height: 50px;
}


/* ===== FOOTER STYLES =====*/
.footer-wrapper{
	background-color: #F2F14C;
	width: 100%;
	margin-top: 5%;
}
.footer-wrapper  .row h3{
	padding: 15px;
	font-size: 17px;
	text-align: center;
}
.footer-wrapper .social-links{
	width: 100%;
	margin: 3% 0 3% 0;
}
.footer-wrapper .social-links ul{
	width:25%;
	margin: 0 35% 0 35%;
}
.footer-wrapper .social-links li{
	display: inline-block;
	vertical-align: middle;
	padding: 15px 20px;
}
.footer-wrapper .social-links a{
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	font-size: 15px;
	word-break: break-all;
}
.footer-wrapper .footer-notes{
	width: 100%;
	background-color: #3AB756;
}
.footer-wrapper p{
	font-size: 14px;
	text-align: center;
	color: white;
	padding: 10px;
	
}
/* ===== STATE STYLES ===== */
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		box-shadow: none;
		font-size: 25px;
		border-radius: 15px;
		
	}
	.topnav img{
		width: 170px;
		height:170px;
		float:left;
		display: block;	
	}
	.image-container img{
		width:600px;
	}
	
	

}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		color: #27379C;
		border-radius: 0px;
	}
	.topnav.responsive img{
		display: none;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
		padding: 10px 12px;
		font-size:25px;
		border-radius: 0px;
	}
	
}

