/* ===== NAVIGATION STYLES ===== */
body{
	font-family: 'Amiri', serif;
}

.full-width header-area{
	background-color: #27379C;
}
img{
	padding:0;
	margin:0;
	float:left;
	width: 200px;
	height: 200px;
}
.top-bar-section{
	background-color: #E4E320;
	overflow:hidden;
	margin: 50px 0 30px 0;
	
}


.top-bar-section .left a{
	float: left;
	color: #0C1862;
	text-align:center;
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	font-size: 30px;
}
/* Change the color of links on hover */
.top-bar-section .left a:hover {
  color: #0A8A26;
}

/* Add a color to the active/current link */
.top-bar-section .left a.active {
  color: #5FCB77;
}
.top-bar-section .right a{
	float: right;
	color: #0C1862;
	text-align:center;
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	font-size: 30px;
}
/* Change the color of links on hover */
.top-bar-section .right a:hover {
  color: #0A8A26;
}

/* Add a color to the active/current link */
.top-bar-section .right a.active {
  color: #5FCB77;
}


/* ===== LAYOUT STYLES =====*/

/* ===== STATE STYLES ===== */
