html {
  text-rendering: optimizeLegibility;
  font-size: 1em;
  background-color: #27379C;
}

#content {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  border-radius: 2em;
  font-size: 2em;
  font-family: 'Amiri', serif;
  box-sizing: border-box;
  background-color: #23953C;
}

#who {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.5em;
  border-radius: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

#origin {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.5em;
  border-radius: 2em;
  padding-bottom: 35px;
  margin-left: 5%;
  margin-right: 5%;
}

#events {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  border-radius: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  border-left: 6px solid #C6C52E;
  border-right: 6px solid #C6C52E;
  background-color: #2D3A88;
  box-sizing: border-box;
  border-radius: 2em;
  padding: 13px 21px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#events ul li{
  list-style-type: none;
  padding: 11px 21px;
  border-left: 6px solid #C6C52E;
  border-right: 6px solid #C6C52E;
  background-color: #2D3A88;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1em;
}

body{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-color: white;
}

header img{
  width:200px;
  height:200px;
  float:left;
  padding:0 25px 0 0;
}

h2 {
  font-family: 'Amiri', serif;
  font-size: 20px
}

section{
  clear:both;
  margin:left;
}

#submit{
  text-align: center;
  font-family: 'Amiri', serif;
  box-sizing: border-box;
  width: 35%;
  height: 2em;
  background-color: #F2F14C;
  color: white;
  font-size: 1.25em;
  margin: auto;
}

#contact_info input{ 
  width: 40%;
  padding-top: 5%;
  padding: 6%;
  text-align: center;
}

#contact_info label {
  color: #FFFD00;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.5em;
}
