#content {
  text-align: center;
}

h2 {
  font-family: 'Amiri', serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

#submit{
  text-align: center;
  font-family: 'Amiri', serif;
  box-sizing: border-box;
  width: 35%;
  height: 2em;
  background-color: #F2F14C;
  color: white;
  font-size: 1em;
  margin: auto;
}

#input-submit {
  padding-top: 1em;
  height: 35px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  height: 45px;
  font-size: .8em;
}
}

input{ 
  padding: 8px 8px;
  margin: 5px;
  box-sizing: border-box;
  width: 20em;
}

label {
  color: #FFFD00;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1em;
}
