#content {
  text-align: center;
}

h2 {
  font-family: 'Amiri', serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

#submit{
  text-align: center;
  font-family: 'Amiri', serif;
  box-sizing: border-box;
  width: 35%;
  height: 2em;
  background-color: #FFFD00;
  color: black;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

input{ 
  padding: 8px 8px;
  margin: 5px;
  box-sizing: border-box;
  width: 20em;
}

label {
  color: #FFFD00;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1em;
  font-color: white;
}



.topnav {
	overflow: hidden;
	background-color: #F2F14C;
	margin-bottom: 20px;

}
.topnav .logo{
	margin: 0;
}
.topnav img{
	width: 150px;
	height:150px;
	float:left;
	display: block;
	margin-right: 55px;
}

.topnav a {
  	float: left;
  	display: block;
	color: #0C1862;
 	text-align: center;
 	margin: 45px 0px;
 	padding: 15px 20px;
 	text-decoration: none;
 	font-size: 20px;
}

.topnav a:hover {
  	color: #0A8A26;
	background-color: #FFFE78;
	border-radius: 25px;
	font-size:23px;
	box-shadow: 1px 2px 1px #4351A6;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
	border-radius: 25px;
}

.topnav .icon {
	display: none;
}


html {
  text-rendering: optimizeLegibility;
  font-size: 1em;
  background-color: #27379C;
}

#content {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
  border-radius: 2em;
  font-size: 2em;
  font-family: 'Amiri', serif;
  box-sizing: border-box;
  background-color: #23953C;
}

#who {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.5em;
  border-radius: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

#origin {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 1.5em;
  border-radius: 2em;
  padding-bottom: 35px;
  margin-left: 5%;
  margin-right: 5%;
}

#events {
  color: #FFFD00;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  border-radius: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  border-left: 6px solid #C6C52E;
  border-right: 6px solid #C6C52E;
  background-color: #2D3A88;
  box-sizing: border-box;
  border-radius: 2em;
  padding: 13px 21px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#events ul li{
  list-style-type: none;
  padding: 11px 21px;
  border-left: 6px solid #C6C52E;
  border-right: 6px solid #C6C52E;
  background-color: #2D3A88;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1em;
}
